.all-products-wrapper {
  margin: 0 auto 0 auto;
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .cart-container {
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
  }
  .product-container {
    flex: 0 0 45%;
    margin: 0 2.5% 0 2.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .name-price-container {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
    }
    .description-container {
      width: 100%;
      height: 50%;
    }
  }
}
